* {
  box-sizing: border-box;
  font-size: max(30vw, 30px);
}

body {
  height: 100vh;
  width: 100vw;
  position: relative;
}

header {
  display: flex;
  flex-direction: row;
}

h1 {
  font: bold 8vw Sans-Serif;
  text-shadow: 1px 0px 1px #ccc, 0px 1px 1px #eee, 2px 1px 1px #ccc,
    1px 2px 1px #eee, 3px 2px 1px #ccc, 2px 3px 1px #eee, 4px 3px 1px #ccc,
    3px 4px 1px #eee, 5px 4px 1px #ccc, 4px 5px 1px #eee, 6px 5px 1px #ccc,
    5px 6px 1px #eee, 7px 6px 1px #ccc;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.app {
  height: 100vh;
  width: 100vw;
  /* background-image: url("./landing.png"); */
  background-position: center;
  background-size: 75vw;
  background-repeat: no-repeat;
}

#title {
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1em;
  margin-bottom: 1em;
  color: #000;
  position: fixed;
}

#daniel:hover {
  color: pink;
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

#the-stack {
  display: flex;
  flex-direction: row;
}

#the-stack:hover {
  color: #01daff;
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}
