* {
  box-sizing: border-box;
  font-family: "Bungee", cursive;
}

body {
  color: #ffa7ca;
  margin: 0;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-color: rgb(16, 16, 16);
  background-image: url("./dark-denim-3.png");
}
p {
  font-size: 1.4em;
  font-family: sans-serif;
  color: rgb(0, 255, 217);
  font-weight: 100;
  width: 100%;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#app {
  height: 100vh;
}

h1 {
  font-size: min(5vw, 2em, 2rem);
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  margin-left: 3px;
  margin-right: 3px;
  color: #ffa7ca;
}
h2 {
  font-size: min(3vw, 2em, 2rem);
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 3px;
  margin-right: 3px;
  color: #ffa7ca;
}
h3 {
  margin: 0;
  font-size: 1.5em;
  color: #ffa7ca;
}

a,
a:hover,
a:focus,
a:active {
  background-image: url("./dark-denim-3.png");
  text-decoration: none;
}

a {
  background-color: rgb(90, 90, 90);
  border: 2px solid black;
  box-shadow: 1px 1px 0px rgb(0, 74, 63), 2px 2px 0px rgb(0, 120, 102),
    3px 3px 0px rgb(0, 174, 148), 4px 4px 0px rgb(0, 218, 185),
    5px 5px 0px rgb(0, 255, 217), 6px 6px 0px rgb(0, 255, 217);
  border-radius: 2px;
}

a:hover,
a:focus,
a:active {
  transition: all 300ms;
  box-shadow: none;
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  background-color: transparent;
  background-image: none;
}

#title {
  margin-top: 30px;
  background-color: rgb(65, 65, 65);
  background-image: url("./dark-denim-3.png");
  display: flex;
  width: 100%;
  height: 8em;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  -webkit-box-shadow: 8px 8px 17px -10px rgb(0, 255, 217);
  -moz-box-shadow: 8px 8px 17px -10px rgb(0, 255, 217);
  box-shadow: 8px 8px 17px -10px rgb(0, 255, 217);
  border-left: 0;
  border-right: 0;
}

.title-item {
  margin-left: 8px;
}

@keyframes fadeInAnimation {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9x);
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

#home-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 3%;
  padding-left: 3%;
}

#home-link {
  display: flex;
}

#outer-links {
  display: flex;
  width: 86px;
  height: 100%;
}

path,
svg {
  color: #ffa7ca;
}

#outer-links a {
  padding: 2px;
  height: 100%;
}

#content a {
  margin-bottom: 15px;
  width: fit-content;
}

#nav-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 3%;
}

#stick-daniel {
  height: auto;
  width: 80%;
}
#intel {
  height: auto;
  width: 100%;
}

#home-link {
  font-size: min(8vw, 2em, 4rem);
}

#content {
  background-image: url("./dark-denim-3.png");
  width: 95vw;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 30px;
  border-radius: 3px;
  -webkit-box-shadow: 8px 8px 17px -10px rgb(0, 255, 217);
  -moz-box-shadow: 8px 8px 17px -10px rgb(0, 255, 217);
  box-shadow: 8px 8px 17px -10px rgb(0, 255, 217);
  background-color: rgb(65, 65, 65);
  overflow-x: hidden;
  overflow-y: auto;
}

#home,
#daniel,
#stack,
#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.stack-item {
  display: flex;
}

.one-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
  border-radius: 3px;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  background-color: rgb(16, 16, 16);
  background-image: url("./dark-denim-3.png");
  padding: 2em;
  width: 100%;
}
